<div class="container mt-4 text-center">
<h1 class="text-center">Categorias</h1>
<h5>Seleccione la categoría por favor</h5>
<div class="mt-2 mb-5">
<button class="border-menu" routerLinkActive="active" routerLink="cremas" nbtooltip="Tremendas cremas de Mary Kay">Cremas</button>
<button class="border-menu" routerLinkActive="active" routerLink="gel">Gel</button>
<button class="border-menu" routerLinkActive="active" routerLink="lociones">Loción</button>
<button class="border-menu" routerLinkActive="active" routerLink="sombras">Sombras</button>
<button class="border-menu" routerLinkActive="active" routerLink="brochas">Brochas</button>
<button class="border-menu" routerLinkActive="active" routerLink="rubor">Rubor</button>
<button class="border-menu" routerLinkActive="active" routerLink="correctores">Corrector</button>
<button class="border-menu" routerLinkActive="active" routerLink="delineadores">Delineadores</button>
<button class="border-menu" routerLinkActive="active" routerLink="labiales">Labiales</button>
<button class="border-menu" routerLinkActive="active" routerLink="bases">Bases</button>
<button class="border-menu" routerLinkActive="active" routerLink="desmaquilladores">Desmaquilladores</button>
<button class="border-menu" routerLinkActive="active" routerLink="sprays">Sprays</button>
<button class="border-menu" routerLinkActive="active" routerLink="fragancias">Fragancias</button>
</div>

<router-outlet></router-outlet>
</div>
<!-- <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="cremas">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="gel">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="lociones">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="sombras">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="brochas">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="rubor">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="correctores">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="delineadores">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="labiales">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="bases">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="desmaquilladores">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="sprays">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="fragancias">Active</a>
  </li>
</ul> -->
