<div class="container mt-4 text-center">
<h1 class="text-center">Categorias</h1>
<h5>Seleccione la categoría por favor</h5>
<div class="mb-5">
<button class="border-menu" routerLink="cremas" nbtooltip="Tremendas cremas de Mary Kay">Cremas</button>
<button class="border-menu" routerLink="gel">Gel</button>
<button class="border-menu" routerLink="lociones">Loción</button>
<button class="border-menu" routerLink="sombras">Sombras</button>
<button class="border-menu" routerLink="brochas">Brochas</button>
<button class="border-menu" routerLink="rubor">Rubor</button>
<button class="border-menu" routerLink="correctores">Corrector</button>
<button class="border-menu" routerLink="delineadores">Delineadores</button>
<button class="border-menu" routerLink="labiales">Labiales</button>
<button class="border-menu" routerLink="bases">Bases</button>
<button class="border-menu" routerLink="desmaquilladores">Desmaquilladores</button>
<button class="border-menu" routerLink="sprays">Sprays</button>
<button class="border-menu" routerLink="fragancias">Fragancias</button>

</div>
<!-- <a class="nav-link" routerLinkActive="active" routerLink="cremas">Cremas<span ></span></a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLinkActive="active" routerLink="pinturaDeLabios">Pintura para labios</a> -->
<router-outlet></router-outlet>
</div>
