<div class="container mt-4">
<h3 class="text-center">Categorias</h3>
<div class="input-group text-center mb-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="cremas">Crema<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pinturaDeLabios">Pintura para labios</a>
        </li>
      </ul>
  </nav>

<!-- <button class="button btn-info mr-3" (click)="cargarProductosCremas(term)">Cremas</button>
<button class="button btn-info" (click)="cargarProductosPintaLabios(term)">Pinta labios</button> -->
</div>
<router-outlet></router-outlet>
</div>
