
<div class="about-block-content">
  <div class="border-add"></div>
  <h4>About Us</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae quam voluptatibus deleniti ipsa
    consequatur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  <p> </p>
</div>
<div class="content_top">
  <h3 class="m_1">Nuestros productos</h3>
  <div class="container">
    <div class="box_1">
      <div id="inicio" class="col-md-12 text-center">
        <div class="input-group text-center rounded-left rounded-right">

          <input type="text" #term placeholder="Ingrese el nombre o tipo de producto" (keyup.enter)="buscar(term.value)"
            style="width: 78%; margin-bottom: 15px;" class="rounded-left">

          <div class="section group rounded-right-lg"> <button (click)="buscar(term.value)">BUSCAR</button></div>
        </div>
        <div class="loading text-center" *ngIf="loading">
          <div><i class="fas fa-spinner fa-spin" style="font-size: 60px;"></i></div>
        <div style="color: black;">
          Aguarde por favor
        </div>
        </div>
        <div *ngFor="let item of resultados | paginate : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index" [class.active]="i == currentIndex " class="col_1_of_3 simpleCart_shelfItem "
          style="margin-bottom:20px;width:260px">
          <div class="shop-holder">
            <div class="product-img">
              <a (click)="verProducto(item.id)">
                <img src="assets/images/pic1.jpg" class="img-product" alt="item4"
                  style="width:100%; background-color:white !important"> </a>
              <a [href]="item.link" class="button item_add"></a>
            </div>
          </div>
          <div class="shop-content" style="height: 80px;padding-bottom: 10px !important;">
            <div><a rel="tag">{{item.type}}</a></div>
            <h3><a>{{item.name}}</a></h3>
            <!-- <span class="amount item_price">{{item.price}}</span> -->
          </div>
        </div>
        <div class="clearfix"></div>

        <div *ngIf="resultados.length >9" class="d-flex justify-content-center">
          <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="onTableDataChange($event)">
          </pagination-controls>

        </div>
      </div>


      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="content_bottom">
</div>
