<div *ngFor="let item of resultados | paginate : {
  itemsPerPage: tableSize,
  currentPage: page,
  totalItems: count
};
let i = index" [class.active]="i == currentIndex " class="col_1_of_3 simpleCart_shelfItem "
style="margin-bottom:20px;width:260px">
<div class="shop-holder">
  <div class="product-img">
    <a (click)="verProducto(item.id)">
      <img src="assets/images/pic1.jpg" class="img-product" alt="item4"
        style="width:100%; background-color:white !important"> </a>
    <a [href]="item.link" class="button item_add"></a>
  </div>
</div>
<div class="shop-content" style="height: 80px;padding-bottom: 10px !important;">
  <div><a rel="tag">{{item.type}}</a></div>
  <h3><a>{{item.name}}</a></h3>
  <!-- <span class="amount item_price">{{item.price}}</span> -->
</div>
</div>
<div class="clearfix"></div>

<div *ngIf="resultados.length >9" class="d-flex justify-content-center">
<pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="onTableDataChange($event)">
</pagination-controls>

</div>
